{
  "extends": "enough",
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "rules": {
    "semi": [2, "always"],
    "comma-dangle": [2, "always-multiline"]
  }
}
